@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.harmBurgerWrapper{
  @apply hidden sm:flex sm:w-5 sm:h-5 sm:hover:cursor-pointer
}

.harmBurger{
  @apply w-full h-full
}

.navRightSide {
  @apply flex items-center justify-between w-full md:w-5/6  sm:w-4/6 lg:w-4/6 xlg:w-4/6 2xl:w-4/6
}

.navTag{
  @apply w-4/6 md:w-5/6 xlg:w-4/6 sm:bg-lightgrayishblue sm:z-50;
  @apply sm:hidden sm:p-3  
}

.showNavTag{
  @apply sm:flex sm:fixed sm:left-0 sm:top-0 sm:h-full sm:w-3/6 sm:justify-start;
  
}

.closeHarmburger{
  @apply hidden sm:flex mb-10 text-3xl cursor-pointer sm:text-darkgrayishblue
}

.navUl{
  @apply relative top-0 flex justify-between w-full text-grayishblue;
  @apply relative flex justify-between w-full sm:h-10 sm:top-20 text-grayishblue;
  @apply sm:flex-col ;
}

.navLink {
  @apply hover:before:block hover:before:bg-orange hover:before:w-full;
  @apply hover:before:h-1 hover:before:absolute hover:before:-bottom-[2.3rem] hover:text-black;
  @apply sm:mb-5 sm:text-black sm:font-bold sm:hover:before:hidden;
  @apply md:w-4/5  lg:w-4/6 sm:bg-none;
}

.activeLink {
  @apply before:block before:bg-orange before:w-full;
  @apply before:h-1 before:absolute before:-bottom-[2.3rem] text-black
}

.hoverPPix {
  @apply border hover:hover:border-orange;
  @apply hover:cursor-pointer rounded-full w-[50px] h-[50px]
}

.cartViewWrapper {
  @apply fixed w-[21rem] bg-white shadow-2xl rounded-xl right-40 top-20;
  @apply sm:right-4 sm:top-20 sm:z-20

}

.mainWrapper {
  @apply w-4/5 m-auto py-20 box-border h-[85vh] items-center;
  @apply justify-center sm:w-full
}

.mainWrapperTwo {
  @apply grid sm:flex grid-cols-5 md:gap-11;
  @apply sm:flex-col sm:w-full ;
}

.mainLeft {
  @apply w-full col-start-1 col-end-3 lg:w-full;
}

.mainImageWrapper {
  @apply w-11/12 rounded-3xl overflow-hidden mb-6;
  @apply sm:w-full sm:rounded-none sm:mb-0
}

.thumbNailsWrapper {
  @apply w-11/12 grid grid-cols-4 gap-3 overflow-hidden;
  @apply sm:hidden
}

.thumbNail {
  @apply w-full overflow-hidden rounded-xl;
  @apply items-center justify-center hover:cursor-pointer
}

.activeImage {
  @apply border-4 border-orange
}

.thumbImage {
  @apply w-1/2 h-full
}


.mainRight {
  @apply flex flex-col w-full col-start-3 col-end-6;
  @apply content-center justify-center w-full;
  @apply md:w-full;
  @apply sm:px-2
}

.sneakerComp {
  @apply uppercase font-bold text-orange mb-2
}

.sneakerName {
  @apply text-[2.5rem] font-bold w-3/5 mb-10;
  @apply md:w-full sm:mb-4
}

.sneakerDesc {
  @apply text-[1rem] text-grayishblue w-4/6 mb-10;
  @apply md:w-full
}


.sneakerPrice {
  @apply flex w-2/6 text-[1.5rem] font-bold items-center justify-start
}

.sneakerDiscount {
  @apply block text-[1rem] ml-2 text-orange;
  @apply bg-paleorange items-center px-1 py-0.5 rounded-md;
}


.cartWrapper {
  @apply flex items-center mt-7;
  @apply sm:flex-col sm:w-full 
}

.numControl {
  @apply flex items-center justify-between w-1/6 px-3 py-4 mr-8;
  @apply bg-lightgrayishblue rounded-lg font-bold text-[1.2rem];
  @apply md:w-2/6 sm:min-w-full sm:mr-0 sm:flex-row sm:mb-4

}

.minus,
.plus {
  @apply text-orange hover:cursor-pointer active:text-paleorange
}


.cartButton {
  @apply px-10 py-4 rounded-lg cursor-pointer;
  @apply hover:shadow-2xl shadow-paleorange font-bold active:bg-paleorange;
  @apply sm:w-full sm:text-center
}

